* {
  padding: 0;
  margin: 0;
}

.social-media-container {
  background: rgba(33, 33, 33, 1);
  border-bottom: 1px solid rgba(48, 48, 48, 1);
  padding: 14px 33px 14px 62px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-media-icons-heading {
  font-family: Poppins;
  font-size: 18.73px;
  font-weight: 400;
  line-height: 20.55px;
  color: rgba(255, 255, 255, 1);
}

.social-media-icons {
  display: flex;
  align-items: center;
  gap: 10px;
}

path {
  transition: 0.4s;
  cursor: pointer;
}

path:hover {
  fill: white;
}

@media (max-width: 770px) {
  .social-media-container {
    padding: 14px 40px;
  }
}

@media (max-width: 700px) {
  .langages-logo {
    width: 57px;
  }

  .social-media-icons-heading,
  .heading-border {
    display: none;
  }

  .social-media-container {
    padding: 14px 10px;
  }

  .social-media-icons img {
    display: none;
  }

  .social-media-icons {
    gap: 5px;
  }

  svg {
    width: 21px;
    /* gap: 5px; */
  }
}

.navigation-container {
  background: rgba(33, 33, 33, 1);
  padding: 10px 107px 18px 61px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
}

.slidedown {
  position: fixed;
  /* top: 0; */
  /* left: 0; */
  width: 100%;
  /* justify-content: left; */
  background-color: #0b0327;
  animation: slidedown 0.4 forwards;
}

@keyframes slidedown {
  from {
    top: -250px;
  }

  to {
    padding-top: 20px;
    top: 100px;
    box-shadow: 0 2px 4px rgb(113, 123, 134);
  }
}

.navigation-links {
  display: flex;
  flex-direction: row;
  gap: 70px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.navigation-manu-links {
  text-decoration: none;
  font-family: Poppins;
  font-size: 18.73px;
  font-weight: 400;
  line-height: 20.55px;
  color: rgba(255, 255, 255, 1);
  transition: all 500ms;
}
#navigation-manu-link-brands{
  text-decoration: none;
  font-family: Poppins;
  font-size: 18.73px;
  font-weight: 400;
  line-height: 20.55px;
  color: rgba(255, 255, 255, 1);
  transition: all 500ms;
  background: transparent;
  border: none;
  width: 105px;
}
#navigation-manu-link-brands {
  background-color: transparent;
  border: none; /* Remove border if desired */
  color: inherit; /* Inherit text color from parent */
  /* appearance: none; */
/* Remove default arrow for Firefox */
}
#navigation-manu-link-brands option {
  background-color: rgba(33, 33, 33, 1); /* Semi-transparent background for options */
  color: white; /* Option text color */
}

.active,
.navigation-manu-links:hover {
  padding-bottom: 20px;
  border-bottom: 3px solid rgba(247, 192, 3, 1);
}

.contact-us-button {
  font-family: Poppins;
  font-size: 18.73px;
  font-weight: 400;
  line-height: 20.55px;
  width: 139.15px;
  height: 38.92px;
  background: rgba(247, 192, 3, 1);
  color: rgba(53, 53, 53, 1);
  clip-path: polygon(
    10% 0,
    80% 0%,
    100% 0,
    100% 62%,
    90% 100%,
    23% 100%,
    0 100%,
    0 43%
  );
  border: 2px solid
    linear-gradient(
      95.17deg,
      #f7c003 -0.25%,
      rgba(255, 255, 255, 0) 11.88%,
      rgba(255, 255, 255, 0) 90.5%,
      #f7c003 96.78%
    );
  overflow: hidden;
  /* border: 4px solid white; */
}

.contact-us-button::before {
  content: "";
  top: 0;
  left: -50px;
  position: absolute;
  width: 0;
  height: 100%;
  background: rgb(255, 255, 255);
  transition: 1s;
  z-index: -1;
}

.contact-us-button:hover:before {
  width: 100%;
}

.navigation-logo-side-bar {
  display: none;
}

.chackbtn {
  color: white;
  font-size: 30px;
  position: absolute;
  line-height: 80px;
  left: 20px;
  cursor: pointer;
  display: none;
}

#unchack {
  color: rgba(255, 255, 255, 1);
  border-radius: 40px;
  font-size: 40px;
  position: fixed;
  right: 10px;
  top: 0;
  line-height: 80px;
  margin-right: 20px;
  cursor: pointer;
  display: none;
  z-index: 100001;
}
.slidedown {
  padding: 10px 0px 18px 0px;
}

#check {
  display: none;
}

@media (max-width: 1410px) {
  .navigation-container {
    padding: 10px 21px 18px 40px;
  }
  .slidedown {
    padding: 10px 0px 18px 0px;
  }

  .navigation-logo-image {
    width: 146px;
  }
}

@media (max-width: 1270px) {
  .navigation-logo-side-bar {
    display: flex;
    width: 146px;
    padding-top: 10px;
  }
  .slidedown .navigation-logo-image {
    padding-left: 50px;
  }
  .slidedown .navigation-button {
    padding-right: 25px;
  }

  .navigation-logo-image {
    padding-left: 20px;
  }

  .navigation-links {
    flex-direction: column;
    position: fixed;
    background: rgba(33, 33, 33, 1);
    width: 100%;
    left: 0%;
    gap: 40px;
    top: -200%;
    padding-left: 46px;
    z-index: 99;
    transition: all.5s;
    height: 100vh;
  }

  .active,
  .navigation-manu-links:hover {
    border-bottom: none;
    color: rgba(247, 192, 3, 1);
    padding-bottom: 0;
  }

  .chackbtn {
    display: block;
  }

  #check:checked ~ .navigation-links {
    top: 0;
    margin: 0;
    /* right: -5%; */
  }

  #check:checked ~ label #chack {
    display: none;
  }

  #check:checked ~ label #unchack {
    display: block;
    z-index: 9999;
  }
}

@media (max-width: 658px) {
  .navigation-contact-us-button {
    width: 87px;
    height: 26.87px;
    font-size: 11.06px;
    font-weight: 400;
    line-height: 12.13px;
  }

  .navigation-logo-image {
    width: 101px;
  }

  .navigation-logo-side-bar {
    display: flex;
    width: 101px;
  }

  .chackbtn {
    color: white;
    font-size: 19px;
  }

  #unchack {
    font-size: 19px;
  }

  .contact-us-button {
    width: 90px;
    font-family: Poppins;
    font-size: 11.06px;
    font-weight: 400;
    line-height: 12.13px;
    height: 22.98px;
  }
}
/* .form-contact-us-container{
  width: 100%;
  height: 100vh;
  display: none;
} */
.form-container {
  width: 100%;
  height: 100vh;
  display: none;
  justify-content: center;
  position: fixed;
  padding-top: 5px;
  z-index: 9999;
  top: 0;
  background-color: #382d2dcc;
}

.content-us-form {
  background: rgba(33, 33, 33, 1);
  width: 100%;
  max-width: 1101px;
  height: 900px;
}

.close {
  padding: 22px 21px 10px 0;
  float: right;
  cursor: pointer;
}

.content-us-form-headings {
  padding-left: 33px;
  padding-top: 30px;
}

.content-us-form-heading {
  font-family: Poppins;
  font-size: 37.75px;
  font-weight: 600;
  line-height: 56.89px;
  color: rgba(216, 216, 216, 1);
  padding-bottom: 44px;
}

.bottom-line {
  width: 100%;
}

.input-box {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.Full-name {
  font-family: Poppins;
  font-size: 18.83px;
  font-weight: 400;
  line-height: 27.05px;
  color: rgba(216, 216, 216, 1);
}

.input-boxes {
  width: 490.82px;
  border-radius: 5.88px;
  border: 1.18px solid rgba(129, 129, 129, 1);
  color: rgba(89, 89, 89, 1);
  background: rgba(33, 33, 33, 1);
  padding: 19px 0 19px 16px;
  font-family: Poppins;
  font-size: 18.83px;
  font-weight: 400;
  line-height: 27.05px;
}

.input-form {
  display: flex;
  justify-content: center;
  gap: 16px;
  padding-bottom: 19px;
}

.input-form-subject {
  display: flex;
  justify-content: center;
  padding-bottom: 19px;
}

.input-form-subject .input-boxes {
  border-radius: 5.88px;
  border: 1.18px solid rgba(129, 129, 129, 1);
  color: rgba(89, 89, 89, 1);
  background: rgba(33, 33, 33, 1);
  padding: 19px 0 19px 16px;
  font-family: Poppins;
  font-size: 18.83px;
  font-weight: 400;
  line-height: 27.05px;
  width: 1015.01px;
}

.input-form-massage .input-box {
  padding-left: 30px;
}

.input-form-massage .input-boxes {
  border-radius: 5.88px;
  border: 1.18px solid rgba(129, 129, 129, 1);
  color: rgba(89, 89, 89, 1);
  background: rgba(33, 33, 33, 1);
  padding: 19px 0 19px 16px;
  font-family: Poppins;
  font-size: 18.83px;
  font-weight: 400;
  line-height: 27.05px;
  width: 1015.01px;
}

textarea {
  resize: none;
}

.submit-button {
  float: right;
  margin-right: 34px;
  margin-top: 50px;
  font-family: Inter;
  font-size: 24.98px;
  font-weight: 600;
  line-height: 34.9px;
  letter-spacing: -0.05em;
  border: 4px solid;
}

@media (max-width: 1088px) {
  .content-us-form {
    background: rgba(33, 33, 33, 1);
    width: 100%;
    max-width: 891px;
  }

  .input-boxes {
    width: 385.82px;
  }

  .input-form-subject .input-boxes {
    width: 800.01px;
  }

  .input-form-massage .input-boxes {
    width: 800.01px;
  }
}

@media (max-width: 888px) {
  .content-us-form {
    background: rgba(33, 33, 33, 1);
    width: 100%;
    max-width: 891px;
  }

  .input-boxes {
    width: 335.82px;
  }

  .input-form-subject .input-boxes {
    width: 700.01px;
  }

  .input-form-massage .input-boxes {
    width: 700.01px;
  }
  
}

@media (max-width: 740px) {
  .content-us-form {
    background: rgba(33, 33, 33, 1);
    width: 100%;
    max-width: 330px;
    height: 1100px
  }

  .submit-button {
    height: 27.67px;
    font-family: Inter;
    font-size: 9.76px;
    font-weight: 600;
    line-height: 13.63px;
    letter-spacing: -0.05em;
    text-align: center;
  }

  .input-boxes {
    width: 292.82px;
  }

  .input-form-subject .input-boxes {
    width: 292.82px;
  }

  .input-form-massage .input-boxes {
    width: 292.82px;
  }

  /* .content-us-form {
    height: 100%;
  } */

  .input-form {
    flex-direction: column;
    align-items: center;
  }
}

.container {
  width: 100%;
  max-width: 1450px;
  margin: 0 auto;
}

.swiper-slide {
  text-align: center;
  /* width: 1450px !important; */
  font-size: 18px;
  /* background: #fff; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.Slider-image {
  background-image: url("image\ 5.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 870.83px;
}

.home-section .Slider-image-2 {
  background-image: url("Hero\ 3\ 1.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 870.83px;
}
.home-section {
  background: #212121;
}
.home-section-headings {
  width: 100%;
  max-width: 688.1px;
  height: 316.07px;
  padding: 151px 0 0 119px;
}

.home-section-heading {
  font-family: Poppins;
  font-size: 80.78px;
  font-weight: 600;
  line-height: 82.56px;
  letter-spacing: -0.05em;
  color: rgba(255, 255, 255, 1);
  text-align: left;
  padding-bottom: 40px;
}

.home-section-heading span {
  font-family: Poppins;
  font-size: 80.78px;
  font-weight: 600;
  line-height: 82.56px;
  letter-spacing: -0.05em;
  color: #f7c003;
}

.home-section-paraagraph {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 400;
  line-height: 37.61px;
  letter-spacing: -0.05em;
  text-align: left;
  color: rgba(255, 255, 255, 1);
  padding-bottom: 57px;
}

.home-section-button {
  text-align: left;
}

.home-section-buttons {
  width: 222.72px;
  height: 68.04px;
  font-family: Inter;
  font-size: 24px;
  font-weight: 600;
  line-height: 33.53px;
  letter-spacing: -0.05em;
  transition: 0.5s;
}

.home-section-buttons:hover {
  background-color: #fff;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 1024px) {
  .home-section-headings {
    width: 100%;
    max-width: 570.47px;
    height: 316.07px;
    padding: 132px 0 0 40px;
  }

  .home-section-heading {
    font-size: 60px;
  }

  .home-section-paraagraph {
    font-size: 20px;
  }

  .home-section .Slider-image,
  .Slider-image-2 {
    height: 661.28px;
  }

  .home-section-buttons {
    width: 178.24px;
    height: 54.45px;
    font-family: Inter;
    font-size: 19px;
  }
}

@media (max-width: 700px) {
  .home-section-headings {
    width: 100%;
    max-width: 375px;
    height: 214.66px;
    padding: 107px 0 46px 16px;
  }

  .home-section-heading {
    font-family: Poppins;
    font-size: 30px;
    font-weight: 600;
    line-height: 30.66px;
    letter-spacing: -0.05em;
    text-align: left;
    padding-bottom: 34px;
  }

  .home-section-paraagraph {
    font-size: 18px;
    width: 299.74px;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 28.21px;
    letter-spacing: -0.05em;
    text-align: left;
    padding-bottom: 40px;
  }

  .home-section-buttons {
    width: 123.15px;
    height: 37.62px;
    font-size: 13.27px;
  }

  .home-section-button {
    padding-bottom: 40px;
  }

  .Slider-image,
  .Slider-image-2 {
    height: 530px;
  }

  .home-section-heading {
    padding-bottom: 34px;
  }
}

.product-logos {
  width: 100%;
  height: 126.28px;
  background: rgba(11, 11, 11, 1);
  box-shadow: 0px 6px 7px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 83.99px;
}

.svg-container path {
  transition: fill 0.3s ease;
}

.svg-container:hover path {
  fill: yellow;
}

@media (max-width: 1380px) {
  .product-logos {
    gap: 36px;
  }

  .logo1 {
    width: 155.46px;
  }

  .logo2 {
    width: 170.52px;
  }

  .logo3 {
    width: 169.29px;
  }

  .logo4 {
    width: 138.14px;
  }

  .logo5 {
    display: none;
  }
}

@media (max-width: 760px) {
  .logo4 {
    display: none;
  }
}

@media (max-width: 650px) {
  .product-logos {
    display: flex;
    justify-content: center;
  }

  .logo1 {
    width: 80.58px;
  }

  .logo2 {
    width: 88.39px;
  }
  .logo3 {
    width: 87.75px;
  }
  .product-logos {
    gap: 15px;
  }
}
.about-us-container {
  background: rgba(33, 33, 33, 1);
  width: 100%;
}
.about-us-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 1080px;
}

.about-us-left-section {
  position: relative;
  width: 400px;
}

.about-us-left-section-img {
  width: 100%;
  display: block;
}

.picture-animate-section {
  width: 380px;
  background-color: #1e0b63;
  padding: 10px;
  border-radius: 5px;
  position: absolute;
  bottom: 10px;
  left: 54%;
  transform: translate(-50%, -50%);
  transition: transform 0.3s ease, opacity 0.3s ease;
  opacity: 0;
}

.about-us-left-section:hover .picture-animate-section {
  transform: translate(-50%, -50%) translateY(-20px);
  opacity: 1;
}

.about-us-left-section-heading {
  font-size: 20px;
  color: black;
  font-family: Poppins;
}
.about-us-left-section-paragraph {
  font-size: 12px;
  color: rgba(216, 216, 216, 1);
  font-family: Poppins;
}
.about-us-right-section {
  background-image: url("About.png");
  background-size: contain;
  background-repeat: no-repeat;
  /* background-position-x: 0; */
  /* background-position-y: -56px; */
}
.about-us-right-section-heading {
  font-family: Poppins;
  font-size: 70.78px;
  font-weight: 600;
  line-height: 106.67px;
  color: rgba(216, 216, 216, 1);
  padding-bottom: 39px;
}
.about-us-right-section-paragraph {
  width: 616.42px;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
  line-height: 32.64px;
  color: rgba(216, 216, 216, 1);
  padding-bottom: 28px;
}
.count-number-section {
  width: 409.74px;
  height: 199px;
  display: flex;
  gap: 26px;
}
.num {
  font-family: Poppins;
  font-size: 51.65px;
  font-weight: 600;
  line-height: 51.76px;
  color: rgba(247, 192, 3, 1);
}
.plus {
  font-family: Poppins;
  font-size: 51.65px;
  font-weight: 600;
  line-height: 51.76px;
  color: rgba(247, 192, 3, 1);
}
.text {
  font-family: Poppins;
  font-size: 17.22px;
  font-weight: 500;
  line-height: 17.25px;
  color: rgba(216, 216, 216, 1);
}
.count-number-section {
  display: flex;
  flex-direction: column;
}

.count-number-section-2 {
  display: flex;
}

.count-number-section-1 {
  display: flex;
  flex-direction: column;
  padding-right: 27px;
}

.count-number-section-2-container {
  display: flex;
  flex-direction: column;
}

.count-number-section-3 {
  display: flex;
  flex-direction: column;
  padding-right: 78px;
}

.first-section {
  display: flex;
}
.second-section {
  display: flex;
}
.count-number-section-2 img {
  padding-right: 27px;
}

@media (max-width: 1300px) {
  .about-us-section {
    flex-direction: column;
    height: 100%;
    align-items: center;
    gap: 150px;
  }
  .about-us-left-section-imge {
    width: 865.73px;
  }
  .about-us-left-section {
    width: 90%;
    align-items: center;
    display: flex;
    justify-content: center;
    padding-top: 80px;
  }

  .picture-animate-section {
    width: 398px;
    left: 32%;
  }
}
@media (max-width: 800px) {
  .about-us-right-section-heading {
    font-size: 50px;
    padding-left: 20px;
  }
  .about-us-right-section {
    background-size: 263px;
    background-repeat: no-repeat;
    background-position-y: -3px;
  }

  .about-us-section {
    gap: 50px;
  }
  .about-us-right-section-paragraph {
    padding-bottom: 24px;
    width: 709px;
    font-size: 15px;
  }
}
@media (max-width: 720px) {
  .about-us-left-section-imge {
    width: 343px;
  }
  .picture-animate-section {
    width: 238px;
    left: 48%;
    bottom: -93px;
  }
  .about-us-right-section-heading {
    font-size: 30px;
    padding-left: 20px;
  }

  .about-us-right-section-paragraph {
    width: 340.5px;
    font-size: 15px;
  }

  .num {
    font-family: Poppins;
    font-size: 42px;
  }

  .text {
    font-size: 14.19px;
  }

  .about-us-right-section {
    padding-left: 20px;
  }

  .count-number-section {
    width: 100%;
  }

  .count-number-section-3 {
    padding-right: 53px;
  }
}

@media (max-width: 374px) {
  .about-us-right-section-paragraph {
    width: 297.5px;
  }
  .about-us-left-section-imge {
    width: 294px;
  }

  .count-number-section-3 {
    padding-right: 46px;
  }
}
.our-services-slider-container{
  width: 100%;
}
.our-services-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #212121; */
  background-image: url("Group\ 1000003755.png");
  background-size: 100%;
}

.our-services-slider-container .swiper-slide{
  background: transparent !important;
}


.services-text-headings img {
  width: 275.33px;
  height: 21.96px;
}
.services-slideder .slider-top-imges {
  display: flex;
  justify-content: space-between;
  padding-top: 170px;
  padding-bottom: 34px;
  background-image: url("Services\ \(2\).png");
  background-size: 880px;
  background-repeat: no-repeat;
  background-position-x: 0;
  background-position-y: 128px;
}
.services-text-heading {
  font-family: Poppins;
  font-size: 70.78px;
  font-weight: 600;
  line-height: 86.14px;
  color: rgba(216, 216, 216, 1);
  width: 634px;
}
.services-text-paragraph {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
  line-height: 32.64px;
  color: rgba(216, 216, 216, 1);
  width: 628.99px;
  text-align: left;
}
.services-image {
  display: flex;
  gap: 20px;
}
.services-images {
  padding: 6px;
  background-image: linear-gradient(#71716b, #231f1f),
    linear-gradient(#969687, #382d2d);
  background-size: 160px 57%;
  background-position: -26px 243px, 100% 0;
  background-repeat: no-repeat;
  position: relative;
  transition: 1s;
}
.services-images:hover {
  transform: scale(1.04);
}
.services-images-text {
  position: absolute;
  bottom: 28px;
}
.services-images-headings {
  display: flex;
  align-items: center;
  gap: 7px;
  padding-left: 16px;
  padding-bottom: 20px;
}
.services-images-heading {
  font-family: Inter;
  font-size: 20.3px;
  font-weight: 700;
  line-height: 20.13px;
  color: rgba(255, 255, 255, 1);
}
.services-images-paragraph {
  font-family: Poppins;
  font-size: 15.22px;
  font-weight: 400;
  line-height: 21.87px;
  text-align: left;
  color: rgba(255, 255, 255, 1);
  width: 291.24px;
  padding-left: 28px;
}
.services-images-headings img {
  width: 3px;
  height: 27px;
}
.panigation {
  display: flex;
  justify-content: center;
  padding: 70px 0 94px 0;
}
.panigation img {
  width: 220.18px;
}
.slider-down-imges {
  display: flex;
}

.services-image-box1,
.services-image-box2 {
  display: flex;
  gap: 20px;
}

@media (max-width: 1300px) {
  .slider-top-imges {
    flex-direction: column;
    gap: 115px;
    padding: 40px;
  }
  .services-image-box1,
  .services-image-box2 {
    flex-direction: column;
    gap: 20px;
  }

  .slider-down-imges {
    padding: 0 40px;
  }
}
@media (max-width: 750px) {
  .services-image {
    flex-direction: column;
    width: 100%;
  }
  .slider-top-imges {
    padding: 15px;
  }
  .slider-down-imges {
    padding: 0 15px;
  }
  .services-text-heading {
    font-size: 30px;
    text-align: left;
  }
  .slider-top-imges {
    padding-top: 40px;
    gap: 41px;
  }
  .services-text-paragraph {
    font-size: 16px;
    width: 325.24px;
  }
}
@media (max-width: 374px) {
  .services-images-heading {
    font-size: 18px;
  }
  .services-images-paragraph {
    font-size: 13px;
    width: 250px;
  }
}
.testimonial-slider-container {
  height: 1080px;
  width: 100%;
  background-color: #212121;
  position: relative;
}

.testimonial-slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-between; */
  padding: 94px 0;
  background-image: url("Testimonials\ \(1\).png");
  background-size: 1312px;
  background-repeat: no-repeat;
  background-position-x: 51px;
  background-position-y: 7px;
}
.testimonial-slider-imge {
  width: 275.33px;
  height: 21.96px;
}
.testimonial-slider-headings {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 112px;
}
.testimonial-slider-heading {
  font-family: Poppins;
  font-size: 70.78px;
  font-weight: 600;
  line-height: 86.14px;
  color: rgba(216, 216, 216, 1);
}
.slider {
  width: 100%;
  max-width: 1440px;
  padding-bottom: 50px;
}
.slider .swiper-slide {
  /* background-image: url("Rectangle\ 433.png"); */
  background-size: 0;
  /* background-repeat: no-repeat; */
  background-color: rgba(35, 35, 35, 1);
  border: 1px solid transparent; /* Make the border visible */
  border-image: linear-gradient(
    97.11deg,
    #f7c003 0%,
    #232323 16.07%,
    #232323 84.37%,
    #f7c003 100%
  );
  border-image-slice: 1; /* Ensures the gradient covers the whole border */
  transition: border-image 0.3s ease;
}

.slider-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 59px 0 48px 0;
}
.slider-testimonial-heading {
  font-family: Poppins;
  font-size: 27.28px;
  font-weight: 400;
  line-height: 51.47px;
  color: rgba(216, 216, 216, 1);
}
.slider-testimonial-paragraph {
  font-family: Poppins;
  font-size: 20.28px;
  font-style: italic;
  font-weight: 400;
  line-height: 38.27px;
  color: rgba(247, 192, 3, 1);
  padding-bottom: 80px;
}
.slider-testimonial-heading-content-paragraph {
  font-family: Poppins;
  font-size: 28px;
  font-style: italic;
  font-weight: 600;
  line-height: 49.06px;
  text-align: center;
  color: rgba(216, 216, 216, 1);
  width: 1267.57px;
  padding-bottom: 98px;
}
.slider-testimonial-heading-logos {
  display: flex;
  align-items: center;
  gap: 27px;
}
.slider-testimonial-heading-logo {
  width: 120px !important;
  height: 28px;
}
.slider-testimonial-heading-logos-heading {
  font-family: Poppins;
  font-size: 27.28px;
  font-weight: 400;
  line-height: 51.47px;
  color: rgba(247, 192, 3, 1);
}
.slider-testimonial-heading-logos-heading span {
  color: rgba(216, 216, 216, 1);
}
.slider-buttons {
  display: flex;
  gap: 15px;
}
.slider-left-button,
.slider-right-button {
  display: flex;
  align-items: center;
}
.slider-right-button .box-img {
  position: relative;
  clip-path: polygon(
    0% 15%,
    0 0,
    15% 0%,
    100% 0,
    100% 39%,
    60% 38%,
    62% 54%,
    100% 55%,
    100% 100%,
    31% 100%,
    0 100%,
    0% 98%
  );
}
.slider-left-button .box-img {
  position: relative;
  clip-path: polygon(
    41% 42%,
    0 40%,
    0 0,
    100% 0,
    100% 55%,
    100% 91%,
    100% 67%,
    100% 69%,
    100% 100%,
    0 100%,
    0 56%,
    41% 58%
  );
}
.arows-img {
  transition: 0.4s;
  cursor: pointer;
}
.slider-left-button .arows-img:hover {
  transform: translateX(15px);
}
.slider-right-button .arows-img:hover {
  transform: translateX(-15px);
}
@media (max-width: 1280px) {
  .slider {
    width: 90%;
  }
  .slider-testimonial-heading-content-paragraph {
    width: 645.28px;
  }
  .testimonial-slider-heading {
    font-size: 50px;
  }
  .testimonial-slider-headings {
    padding-bottom: 100px;
  }
  .slider-testimonial-paragraph {
    padding-bottom: 70px;
  }
  .slider-testimonial-heading-content-paragraph {
    padding-bottom: 74px;
  }
}
@media (max-width: 760px) {
  .slider-testimonial-heading-content-paragraph {
    width: 254.32px;
    font-size: 18px;
  }
  .slider-testimonial-heading {
    font-size: 20px;
  }
  .slider-testimonial-paragraph {
    font-size: 16px;
  }
  .testimonial-slider-heading {
    font-size: 30px;
  }
  .testimonial-slider-imge {
    width: 125px;
  }
  .slider-testimonial-heading-logo {
    display: none !important;
  }
  .testimonial-slider-container {
    height: 100%;
  }
  .testimonial-slider-headings {
    padding-bottom: 55px;
  }
  .slider-testimonial-paragraph {
    padding-bottom: 40px;
  }
  .slider-testimonial-heading-content-paragraph {
    padding-bottom: 74px;
  }
}
.profile-slider-container {
  /* height: 1080px; */
  width: 100%;
  /* background-color:  rgba(33, 33, 33, 1);
    */
  background: rgba(33, 33, 33, 1);
}
.profile-slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-between; */
  padding: 94px 0;
  background-image: url(Portfolio.png);
  background-size: 1073px;
  background-repeat: no-repeat;
  background-position-x: 190px;
  background-position-y: -10px;
}
.our-profile-slider {
  width: 100%;
  max-width: 1440px;
  padding-bottom: 50px;
}
.our-profile-slider .swiper-slide {
  /* background-image: url("Rectangle\ 433.png"); */
  background-size: 0;
}
.profile-slider-imges {
  position: relative; /* Ensure this is positioned relative for absolute positioning of children */
}
.profile-slider-imge {
  position: relative;
  /* border: 2px solid transparent; Set border to solid and transparent */
  /* border-image-source: linear-gradient(167.98deg, #F0F0F0 15.28%, rgba(255, 255, 255, 0) 20.57%, rgba(255, 255, 255, 0) 76.76%, #E9E9E9 83.98%); */
  /* border-image-slice: 1; */
  /* border-image: linear-gradient(97.11deg,  #F0F0F0 0%, rgba(255, 255, 255, 0) 16.07%,  rgba(255, 255, 255, 0) 84.37%,  #E9E9E9 100%); */
  border: 1px solid transparent; /* Make the border visible */
  border-image: linear-gradient(
    571.11deg,
    #c5bea7 0%,
    #232323 16.07%,
    #232323 84.37%,
    #ebe9e1 100%
  );
  border-image-slice: 1; /* Ensures the gradient covers the whole border */
}
.profile-slider-text {
  position: absolute;
  bottom: 50px;
  padding-left: 30px;
}
.profile-slider-text-heading {
  font-family: Inter;
  font-size: 22px;
  font-weight: 700;
  line-height: 32px;
  text-align: left;
  color: rgba(255, 255, 255, 1);
  padding-bottom: 40px;
  transition: all 0.3s;
}
.profile-slider-imges:hover .profile-slider-text-heading{
  color: rgba(247, 192, 3, 1);
  
}
/* .heading2 {
  color: rgba(247, 192, 3, 1);
}
.heading3 {
  padding-bottom: 72px;
}
.profile-slider-text-paragraphs .paragraph {
  color: rgba(247, 192, 3, 1);
} */
.profile-slider-text-paragraph {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 27.94px;
  text-align: left;
  color: rgba(216, 216, 216, 1);
}
.profile-slider-text-paragraphs {
  display: flex;
  align-items: center;
  gap: 10px;
}
.read-more-arrow {
  width: 22px;
  height: 15px;
}
@media (max-width: 760px) {
  .profile-slider-text-heading {
    font-size: 16px;
    padding-bottom: 28px;
  }
  .profile-slider-text-paragraph {
    font-size: 13px;
  }
  .profile-slider-text {
    bottom: 22px;
  }
  .our-profile-slider {
    width: 90%;
  }
  .profile-slider-img {
    width: 125px;
  }
}

.our-team-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #212121;
}
/* .swiper-slide {
  background-image: url("Group\ 1000003755.png");
  background-size: 100%;
} */
.our-team-text-headings img {
  width: 275.33px;
  height: 21.96px;
}
.our-team-slideder .slider-top-imges {
  display: flex;
  justify-content: space-between;
  padding-top: 170px;
  /* padding-bottom: 34px; */
  background-image: url("Team.png");
  background-size: 880px;
  background-repeat: no-repeat;
  background-position-x: 0;
  background-position-y: 128px;
}
.our-team-text-heading {
  font-family: Poppins;
  font-size: 70.78px;
  font-weight: 600;
  line-height: 86.14px;
  color: rgba(216, 216, 216, 1);
  text-align: left;
  /* width:634px; */
}
.our-team-text-paragraph {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
  line-height: 32.64px;
  color: rgba(216, 216, 216, 1);
  width: 628.99px;
  text-align: left;
}
.our-team-image {
  display: flex;
  /* gap: 20px; */
}
.our-team-images {
  /* padding: 6px; */
  /* background-image: linear-gradient(#71716b, #231f1f), linear-gradient(#969687, #382d2d); */
  /* background-size: 160px 57%; */
  /* background-position: -26px 243px, 100% 0; */
  /* background-repeat: no-repeat; */
  position: relative;
  transition: 1s;
}
.imges1 {
  width: 100%;
  max-width: 369.84px;
}
.our-team-top-imges {
  display: flex;
}
.our-team-images:hover {
  transform: scale(1.04);
}
.our-team-images-text {
  position: absolute;
  top: 0;
  background: rgba(247, 192, 3, 0.81);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  transition: 0.4s;
}
.our-team-images:hover .our-team-images-text {
  visibility: visible;
}
.our-team-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.our-team-links {
  display: flex;
  gap: 25px;
}
.our-team-link {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.35px;
  color: rgba(33, 33, 33, 1);
}
.our-team-images-headings {
  display: flex;
  align-items: center;
  gap: 7px;
  padding-left: 16px;
  padding-bottom: 20px;
}
.our-team-images-heading {
  font-family: Poppins;
  font-size: 36px;
  font-weight: 600;
  line-height: 50.29px;
  color: rgba(33, 33, 33, 1);
}
.our-team-images-paragraph {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.35px;
  text-align: center;
  color: rgba(33, 33, 33, 1);
}
.our-team-images-headings img {
  width: 3px;
  height: 27px;
}
.panigation {
  display: flex;
  justify-content: center;
  padding: 70px 0 94px 0;
}
.panigation img {
  width: 220.18px;
}
.slider-down-imges {
  display: flex;
}

.our-team-image-box1,
.our-team-image-box2 {
  display: flex;
  /* gap: 20px; */
}

@media (max-width: 1300px) {
  .slider-top-imges {
    flex-direction: column;
    gap: 115px;
    padding: 40px;
  }
  .our-team-image-box1,
  .our-team-image-box2 {
    flex-direction: column;
    /* gap: 20px; */
  }
}
@media (max-width: 750px) {
  .our-team-image {
    flex-direction: column;
    width: 100%;
  }
  .slider-top-imges {
    padding: 15px;
    padding-bottom: 0;
  }
  .slider-down-imges {
    padding: 0 15px;
  }
  .imges1 {
    width: 100%;
    max-width: 100%;
  }
  .our-team-text-heading {
    font-size: 30px;
    text-align: left;
  }
  .slider-top-imges {
    padding-top: 40px;
    gap: 41px;
  }
  .our-team-text-paragraph {
    font-size: 16px;
    width: 325.24px;
  }
}
@media (max-width: 374px) {
  .our-team-images-heading {
    font-size: 18px;
  }
  .our-team-images-paragraph {
    font-size: 13px;
    width: 250px;
  }
}

.BLOG-slider-container {
  background: rgba(11, 11, 11, 1);
}
.BLOG-slider-container .profile-slider-text {
  position: relative;
  bottom: 0px;
  padding-left: 22px;
  padding-top: 28px;
  background: rgba(30, 30, 30, 1);
}
.BLOG-slider-container .profile-slider-imge {
  border: none;
}
.BLOG-slider-container .profile-slider-text-paragraphs {
  justify-content: right;
  cursor: pointer;
  padding: 0 25px 25px 0;
}
.BLOG-slider-container .profile-slider-text-heading {
  padding-bottom: 20px;
}
.BLOG-slider-container .profile-slider {
  background-image: url("Blog.png");
  background-size: 573px;
  background-repeat: no-repeat;
  background-position-x: 435px;
  background-position-y: 41px;
}
.BLOG-slider-container .read-more-arrow {
  width: 24px;
  height: 4px;
  /* display: none; */
}
.about-projects {
  height: 338px;
  background: rgba(33, 33, 33, 1);
  display: flex;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
}
.about-projects-heading {
  font-family: Poppins;
  font-size: 60px;
  font-weight: 600;
  line-height: 73.02px;
  text-shadow: -1px -1px 0 #d8d8d8, 1px -1px 0 #d8d8d8, -1px 1px 0 #d8d8d8,
    1px 1px 0 #d8d8d8; /* Text outline */
  opacity: 0;
  transform: translateX(-200px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}
.about-projects-heading2 {
  color: #d8d8d8;
}
.about-projects-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about-projects .about-button {
  width: 245px;
  height: 77px;
  font-family: Poppins;
  font-size: 27.28px;
  font-weight: 400;
  line-height: 29.92px;
  opacity: 0;
  transform: translateX(200px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}
.about-projects-heading.animate,
.about-button.animate {
  opacity: 1;
  transform: translateX(0);
}
.about-button:hover {
  background-color: #d8d8d8;
}
@media (max-width: 1024px) {
  .about-projects-headings {
    width: 433px;
  }
  .about-projects-heading {
    font-size: 50px;
  }
  .about-projects .about-button {
    width: 213px;
    height: 67px;
  }
  .about-projects {
    padding-left: 16px;
    padding-right: 16px;
  }
}
@media (max-width: 760px) {
  .about-projects-text {
    flex-direction: column;
    align-items: flex-start;
    padding-left: 16px;
    padding-top: 31px;
    padding-bottom: 58px;
  }
  .about-projects .about-button {
    width: 128px;
    height: 40px;
    font-size: 14.28px;
  }
  .about-projects {
    height: 100%;
  }
  .about-projects-heading {
    font-size: 30px;
  }
  .about-projects-headings {
    width: 100%;
  }
}
.footer-container {
  height: 458.99px;
  background: rgba(16, 16, 16, 1);
}
.footer-logo {
  padding-top: 129px;
  padding-bottom: 32px;
}
.companay-information-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(69, 69, 69, 1);
  padding-bottom: 54px;
}
.information-heading {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 29.38px;
  color: rgba(216, 216, 216, 1);
}
.social-icons {
  display: flex;
  gap: 23px;
}
.footer-svg-img path {
  transition: fill 0.3s ease;
}

.footer-svg-img:hover path {
  fill: white;
}
.copy-right-privacy {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 50px;
}
.copy-right-heading {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 12px;
  color: rgba(216, 216, 216, 1);
}
.privacy-headings {
  display: flex;
  gap: 35px;
}
.privacy-heading {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 12px;
  color: rgba(216, 216, 216, 1);
}
.footer-container {
  padding-left: 40px;
  padding-right: 40px;
}
@media (max-width: 1024px) {
  .social-icons {
    gap: 20px;
  }
  .information-heading {
    width: 365.84px;
  }
}
@media (max-width: 900px) {
  .footer-container {
    padding-left: 16px;
    padding-right: 16px;
    height: 100%;
  }
}
@media (max-width: 760px) {
  .information-heading {
    font-size: 16px;
    width: 100%;
  }
  .footer-logo {
    padding-top: 53px;
  }
  .companay-information-text {
    flex-direction: column;
    align-items: flex-start;
    gap: 38px;
    padding-bottom: 35px;
  }
  .footer-container svg {
    width: 100%;
  }
  .copy-right-privacy {
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 35px;
    padding-bottom: 31px;
    padding-top: 14px;
  }
  .privacy-headings {
    flex-direction: column;
    gap: 12px;
  }
  /* .footer-logo img{
    width: 137.43px;
  } */
  .social-icons {
    width: 219px;
    gap: 13px;
  }
}
/* portfolio page */
.Portfolio-section-content-heading {
  display: flex;
  gap: 200px;
}
.Portfolio-section {
  background-color: #212121;
}
.Portfolio-section .home-section-headings {
  padding: 0%;
}
.Portfolio-section .Slider-image {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* .Portfolio-section .Slider-image-2{
  display: flex;
  align-items: center;
  justify-content: center;
} */
.Portfolio-section .home-section-heading {
  font-size: 70px;
}
.Portfolio-section .Slider-image {
  background-image: url("sli4.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 870.83px;
}
.Portfolio-section .Slider-image-2 {
  background-image: url("slider2.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 870.83px;
}
@media (max-width: 1200px) {
  .Portfolio-section-content-heading {
    flex-direction: column-reverse;
    gap: 190px;
    align-items: center;
    padding-top: 199px;
  }
  .Portfolio-section .Slider-image,
  .Slider-image-2 {
    height: 100%;
  }
  .Portfolio-section .Slider-image-2 {
    height: 100%;
  }
  .Portfolio-section-imge {
    width: 360px;
  }
  .Portfolio-section .home-section-headings {
    padding-bottom: 240px;
  }
}
.portfo-informatoin {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 65px;
  padding-right: 65px;
}
.Portfolio-logo {
  background: rgba(247, 192, 3, 1);
}
.portfo-informatoin-text-heading {
  font-family: Poppins;
  font-size: 25px;
  font-weight: 600;
  line-height: 25.55px;
  text-align: center;
  color: rgba(33, 33, 33, 1);
}
.portfo-informatoin-text-paragraph {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 25.07px;
  text-align: center;
  color: rgba(33, 33, 33, 1);
}
.portfo-informatoin-imge2 {
  display: none;
}
@media (max-width: 760px) {
  .portfo-informatoin-imge {
    display: none;
  }
  .portfo-informatoin-imge2 {
    display: block;
  }
  .portfo-informatoin {
    flex-direction: column;
    gap: 43px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .Portfolio-section .home-section-heading {
    font-size: 30px;
  }
  .Portfolio-section-imge {
    width: 189.38px;
  }
  .Portfolio-section-content-heading {
    padding-top: 126px;
    gap: 147px;
  }
  .Portfolio-section .home-section-headings{
    padding-bottom: 179px;
    padding-left: 30px;
  }
}

.Portfolio-section-2 {
  background-color: #212121;
  height: 1080px;
  display: flex;
  align-items: center;
}
.Portfolio-section-2-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Portfolio-section-2-vedio video {
  width: 100%;
  max-width: 716px;
}
.Portfolio-section-2-text {
  width: 600px;
}
.Portfolio-section-2-text-heading {
  width: 504px;
  font-family: Poppins;
  font-size: 60px;
  font-weight: 600;
  line-height: 74.52px;
  text-align: left;
  color: rgba(216, 216, 216, 1);
  padding-bottom: 50px;
}
.Portfolio-section-2-text-paragraph {
  width: 598px;
  font-family: Poppins;
  font-size: 24px;
  font-weight: 400;
  line-height: 37.61px;
  text-align: left;
  color: rgba(255, 255, 255, 1);
}
.our-portfolio-container{
  background-color: #212121;
}
.our-portfolio-container .testimonial-slider-headings{
  background: rgba(11, 11, 11, 1);
}
.our-portfolio-container .swiper-slide{
  background-size: 0;
  background: rgba(11, 11, 11, 1);

}
.our-portfolio-container .our-team-slider-container {
  background: rgba(33, 33, 33, 1);
}
@media (max-width: 1024px) {
  .Portfolio-section-2-content {
    flex-direction: column;
  }
  .Portfolio-section-2 {
    height: 100%;
    padding-top: 100px;
    padding-bottom: 20px;
  }
  .Portfolio-section-2-text,
  .Portfolio-section-2-text-heading,
  .Portfolio-section-2-text-paragraph {
    width: 90%;
    /* padding-left: 10px; */
  }
}
.our-portfolio-container .imges-down {
  justify-content: center;
}
.Project-container {
  background: rgba(16, 16, 16, 1);
  height: 162.65px;
  display: flex;
  align-items: center;
}
.previus-project-text-heading {
  font-family: Poppins;
  font-size: 30px;
  font-weight: 600;
  line-height: 30.66px;
  text-align: center;
  color: rgba(65, 65, 65, 1);
}
.Projects {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 136px;
}
.previus-project {
  display: flex;
  align-items: center;
  gap: 10px;
}
.next-project {
  display: flex;
  align-items: center;
  gap: 10px;
}
.next-project-text-heading {
  font-family: Poppins;
  font-size: 30px;
  font-weight: 600;
  line-height: 30.66px;
  text-align: center;
  color: rgba(247, 192, 3, 1);
}
@media (max-width: 764px) {
  .next-project-text-heading,
  .previus-project-text-heading {
    font-size: 15px;
  }
  .Projects {
    gap: 30px;
  }
}
.portfo-informatoin-project .about-projects-heading {
  color: rgba(216, 216, 216, 1);
  font-family: Poppins;
  font-size: 30px;
  font-weight: 600;
  line-height: 30.66px;
  text-shadow: none;
}
.portfo-informatoin-project .about-projects-heading2 {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 25.07px;
  text-align: left;
}
.blog-section {
  background-color: #212121;
}
.blog-section .Slider-image{
  background-image: url("blog-1-img-6\ 1.png");
  background-size: cover;
  background-repeat: no-repeat;
  /* height: 870.83px; */
}
.blog-section .Slider-image {
  background-image: url("blog-1-img-6\ 1.png");
  background-size: cover;
  background-repeat: no-repeat;
  /* height: 870.83px; */
}
.blog-section-2 {
  background-color: #212121;
  padding-top: 60px;
}
.blog-date {
  font-family: Poppins;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  line-height: 23.15px;
  color: rgba(216, 216, 216, 1);
}
.blog-section-content-heading1 {
  font-family: Poppins;
  font-size: 70.78px;
  font-weight: 600;
  line-height: 86.14px;
  color: rgba(247, 192, 3, 1);
}
.blog-section-content-paragraph {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 300;
  line-height: 31.94px;
  color: rgba(216, 216, 216, 1);
}
.blog-section-content-heading2 {
  font-family: Poppins;
  font-size: 30px;
  font-weight: 500;
  line-height: 47.91px;
  color: rgba(216, 216, 216, 1);
}
.blog-section-content-heading {
  border-bottom: 1px solid rgba(64, 64, 64, 1);
  padding-bottom: 50px;
}
.blog-section-2 .companay-information-text {
  padding-top: 30px;
}
.blog-section-2 .information-heading {
  font-family: Poppins;
  font-size: 40px;
  font-weight: 500;
  line-height: 63.88px;
  color: rgba(216, 216, 216, 1);
}

@media (max-width: 764px) {
  .blog-section-content-heading1 {
    font-size: 30px;
  }
  .blog-section-content-paragraph {
    font-size: 14px;
  }
}
